header{
    display: flex;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    .logo{
        width: 60px;
    }
    nav{
        a{
            text-decoration: none;
            margin: 20px;
            color: inherit;
            transition: all .3s;
        }
        :last-child{
            margin-inline-end: 0;
        }
        a:hover{
            opacity: .5;
            text-decoration: underline;
        }
        a.active-nav{
            color: blue;
            text-decoration: underline;
        }
    }
}